@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="inspinia">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Font awesome -->
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="~/Content/css/style.css" rel="stylesheet">


</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main">

    <!-- Main view  -->
    @*<div ui-view>

        </div>*@

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul side-navigation class="nav metismenu" id="side-menu">
                    <li class="nav-header">

                        <div class="profile-element" uib-dropdown>
                            <a uib-dropdown-toggle href>
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">{{main.userName}}</strong>
                                    </span>
                                    <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                                <li><a href="">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>

                    </li>

                    <li ui-sref-active="active">
                        @Html.NoEncodeActionLink("<i class='fa fa-laptop'></i><span class='nav-label'>Main page</span>", "Add Inventory", "Index", "Home", routeValues: null, htmlAttributes: new { ui_sref = "index.main" })
                        @*<a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>*@
                    </li>
                    <li ui-sref-active="active">
                        @*<a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>*@
                        @Html.NoEncodeActionLink("<i class='fa fa-desktop'></i><span class='nav-label'>Minor page</span>", "Add Inventory", "About", "Home", routeValues: null, htmlAttributes: new { ui_sref = "index.minor" })
                    </li>
                </ul>

            </div>
        </nav>
        <!--End Navigation-->
        <!-- Page wraper -->
        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

            <!-- Page wrapper -->
            <!-- Top Nav Bar-->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <span minimaliza-sidebar></span>
                        <form role="search" class="navbar-form-custom" method="post" action="">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Top Nav Bar-->
            <!-- Main view  -->
            <div ui-view>@RenderBody()</div>

            <!-- Footer -->
            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2015-2019
                </div>
            </div>
            <!--End Footer-->


        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    <!-- jQuery and Bootstrap -->
    <script src="~/Scripts/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/js/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- MetsiMenu -->
    <script src="~/Scripts/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SlimScroll -->
    <script src="~/Scripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peace JS -->
    <script src="~/Scripts/js/plugins/pace/pace.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/js/inspinia.js"></script>

    <!-- Main Angular scripts-->
    <script src="~/Scripts/js/angular/angular.min.js"></script>
    <script src="~/Scripts/js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="~/Scripts/js/ui-router/angular-ui-router.min.js"></script>
    <script src="~/Scripts/js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>


    <!-- Anglar App Script -->
    <script src="~/Scripts/js/app.js"></script>
    <script src="~/Scripts/js/config.js"></script>
    <script src="~/Scripts/js/directives.js"></script>
    <script src="~/Scripts/js/controllers.js"></script>

</body>
</html>
